In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv("Student_Loan_Dataset.csv")

In [39]:
df.head(10)

,Loan_ID,Field_of_Study,Degree_Level,Course_Duration_Years,University_Tier,CGPA,Part_Time_Income,Scholarship_Amount,Has_Job_Offer,CoSigner_Income,CoSigner_Credit_History,Relationship_With_CoSigner,Loan_Purpose,LoanAmount,Loan_Status
0,SL001,MBBS (Medicine),UG,5,Tier 1,6.2,4572,100000,0,38901,1,Parent,Living Expenses,766933,Y
1,SL002,MCA (Computer Applications),Masters,3,Tier 3,4.9,9440,100000,0,15480,0,Parent,Both,547368,Y
2,SL003,B.Ed (Education),UG,2,Tier 2,4.5,1617,100000,0,31761,1,Parent,Tuition,333720,N
3,SL004,M.A (Economics),Masters,2,Tier 1,7.5,5258,75000,1,49842,0,Relative,Both,1341663,N
4,SL005,Aerospace Engineering,UG,4,Tier 1,4.5,246,0,0,47893,0,Sibling,Tuition,730745,N
5,SL006,Electrical Engineering,UG,4,Tier 3,4.5,491,25000,0,30698,1,Parent,Tuition,600208,N
6,SL007,B.Com (Banking & Finance),UG,3,Tier 1,8.2,5617,0,1,36941,1,Parent,Both,259244,N
7,SL008,M.Sc (Physics),Masters,2,Tier 2,9.8,4450,50000,1,31527,1,Relative,Tuition,1631291,Y
8,SL009,Computer Engineering,UG,4,Tier 1,4.5,7062,0,0,10683,1,Guardian,Both,818210,Y
9,SL010,Automobile Engineering,UG,4,Tier 2,7.0,7627,100000,1,32815,0,Parent,Tuition,698857,Y

In [40]:
df.sample(10)

,Loan_ID,Field_of_Study,Degree_Level,Course_Duration_Years,University_Tier,CGPA,Part_Time_Income,Scholarship_Amount,Has_Job_Offer,CoSigner_Income,CoSigner_Credit_History,Relationship_With_CoSigner,Loan_Purpose,LoanAmount,Loan_Status
133,SL134,B.Ed (Education),UG,2,Tier 2,4.5,3520,150000,0,52835,1,Parent,Both,315772,N
373,SL374,B.Sc (Mathematics),UG,3,Tier 1,4.5,3726,50000,0,51301,1,Parent,Living Expenses,360479,Y
400,SL401,Computer Engineering,UG,4,Tier 1,6.4,398,100000,0,36887,1,Parent,Tuition,953721,Y
270,SL271,Computer Engineering,UG,4,Tier 2,9.4,442,0,1,38668,0,Relative,Tuition,474085,N
987,SL988,Chemical Engineering,UG,4,Tier 3,4.5,7083,0,0,33380,1,Relative,Tuition,397985,Y
633,SL634,B.Com (Banking & Finance),UG,3,Tier 1,7.1,7058,25000,1,58561,0,Parent,Living Expenses,739270,Y
907,SL908,M.A (Economics),Masters,2,Tier 2,5.6,14996,100000,0,51980,1,Parent,Both,579600,Y
366,SL367,Mechanical Engineering,UG,4,Tier 1,8.8,5295,100000,1,14453,1,Parent,Tuition,646800,N
92,SL093,M.Sc (Physics),Masters,2,Tier 1,5.2,3328,75000,0,30218,1,Relative,Tuition,1621771,Y
25,SL026,B.Com (Banking & Finance),UG,3,Tier 1,8.9,858,0,1,40818,1,Parent,Both,595592,Y

In [41]:
df['Academic_Status'] = np.where(df['CGPA'] >= 7.0, 1, 0)
df['CoSigner_Financial_Strength'] = np.where((df['CoSigner_Income'] >= 25000) | (df['CoSigner_Credit_History'] == 1), 1, 0)
df['Loan_Amount_Risk'] = np.where(df['LoanAmount'] <= 500000, 0, 1)
df['Relationship_Strength'] = df['Relationship_With_CoSigner'].map({'Parent': 2, 'Guardian': 2, 'Relative': 1, 'Sibling': 1})

In [42]:
df['Has_Bonus_Points'] = np.where((df['Scholarship_Amount'] > 0) | (df['Part_Time_Income'] > 0), 1, 0)
df['Course_Duration_Status'] = np.where(df['Course_Duration_Years'] <= 5, 1, 0)

In [44]:
df['Income_Loan_Ratio'] = df['CoSigner_Income'] / (df['LoanAmount'] + 1)
df['Scholarship_Coverage'] = df['Scholarship_Amount'] / (df['LoanAmount'] + 1)
df['Total_Student_Income'] = df['Part_Time_Income'] + df['Scholarship_Amount']
df['Financial_Support_Score'] = (df['CoSigner_Credit_History'] * 0.3 + df['Academic_Status'] * 0.3 + df['Has_Job_Offer'] * 0.2 + df['Has_Bonus_Points'] * 0.2)

In [45]:
df.head()

,Loan_ID,Field_of_Study,Degree_Level,Course_Duration_Years,University_Tier,CGPA,Part_Time_Income,Scholarship_Amount,Has_Job_Offer,CoSigner_Income,...,Academic_Status,CoSigner_Financial_Strength,Loan_Amount_Risk,Relationship_Strength,Has_Bonus_Points,Course_Duration_Status,Income_Loan_Ratio,Scholarship_Coverage,Total_Student_Income,Financial_Support_Score
0,SL001,MBBS (Medicine),UG,5,Tier 1,6.2,4572,100000,0,38901,...,0,1,1,2,1,1,0.050723,0.130389,104572,0.5
1,SL002,MCA (Computer Applications),Masters,3,Tier 3,4.9,9440,100000,0,15480,...,0,0,1,2,1,1,0.028281,0.182692,109440,0.2
2,SL003,B.Ed (Education),UG,2,Tier 2,4.5,1617,100000,0,31761,...,0,1,0,2,1,1,0.095172,0.299652,101617,0.5
3,SL004,M.A (Economics),Masters,2,Tier 1,7.5,5258,75000,1,49842,...,1,1,1,1,1,1,0.037149,0.055901,80258,0.7
4,SL005,Aerospace Engineering,UG,4,Tier 1,4.5,246,0,0,47893,...,0,1,1,1,1,1,0.065540,0.000000,246,0.2

In [46]:
df = df.drop(['Loan_ID'], axis=1)

In [47]:
df['Loan_Status'] = df['Loan_Status'].map({'Y': 1, 'N': 0})

In [48]:
categorical_cols = df.select_dtypes(include='object').columns.tolist()
categorical_cols

['Field_of_Study',
 'Degree_Level',
 'University_Tier',
 'Relationship_With_CoSigner',
 'Loan_Purpose']

In [49]:
if len(categorical_cols) > 0:
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [50]:
df.shape

(1000, 61)

In [51]:
df.head()

,Course_Duration_Years,CGPA,Part_Time_Income,Scholarship_Amount,Has_Job_Offer,CoSigner_Income,CoSigner_Credit_History,LoanAmount,Loan_Status,Academic_Status,...,Field_of_Study_MCA (Computer Applications),Field_of_Study_Mechanical Engineering,Degree_Level_UG,University_Tier_Tier 2,University_Tier_Tier 3,Relationship_With_CoSigner_Parent,Relationship_With_CoSigner_Relative,Relationship_With_CoSigner_Sibling,Loan_Purpose_Living Expenses,Loan_Purpose_Tuition
0,5,6.2,4572,100000,0,38901,1,766933,1,0,...,False,False,True,False,False,True,False,False,True,False
1,3,4.9,9440,100000,0,15480,0,547368,1,0,...,True,False,False,False,True,True,False,False,False,False
2,2,4.5,1617,100000,0,31761,1,333720,0,0,...,False,False,True,True,False,True,False,False,False,True
3,2,7.5,5258,75000,1,49842,0,1341663,0,1,...,False,False,False,False,False,False,True,False,False,False
4,4,4.5,246,0,0,47893,0,730745,0,0,...,False,False,True,False,False,False,False,True,False,True

In [52]:
df.isnull().sum()

Course_Duration_Years                  0
CGPA                                   0
Part_Time_Income                       0
Scholarship_Amount                     0
Has_Job_Offer                          0
                                      ..
Relationship_With_CoSigner_Parent      0
Relationship_With_CoSigner_Relative    0
Relationship_With_CoSigner_Sibling     0
Loan_Purpose_Living Expenses           0
Loan_Purpose_Tuition                   0
Length: 61, dtype: int64

In [53]:
feature_cols = [col for col in df.columns if col != 'Loan_Status']
X = df[feature_cols]
y = df['Loan_Status']

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [68]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [69]:
X_train.shape

(800, 60)

In [70]:
X_test.shape

(200, 60)

In [71]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [72]:
logreg_model = LogisticRegression(max_iter=1000, random_state=42)
logreg_model.fit(X_train_scaled, y_train)
y_pred_logreg = logreg_model.predict(X_test_scaled)

In [73]:
accuracy_score(y_test, y_pred_logreg)

0.58

In [76]:
confusion_matrix(y_test, y_pred_logreg)

array([[19, 65],
       [19, 97]])

In [77]:
print(classification_report(y_test, y_pred_logreg))

              precision    recall  f1-score   support

           0       0.50      0.23      0.31        84
           1       0.60      0.84      0.70       116

    accuracy                           0.58       200
   macro avg       0.55      0.53      0.50       200
weighted avg       0.56      0.58      0.54       200

In [78]:
import joblib

In [79]:
joblib.dump(logreg_model, "loan_model.pkl")
joblib.dump(scaler, "scaler.pkl")
joblib.dump(X.columns.tolist(), "feature_cols.pkl")

['feature_cols.pkl']